html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: whitesmoke;
}
.img{
  height:48px;
  width: 250px;
}

.nav-bg{
  background-color: #0B476C;
  
}

.nav-bg a{
  color: #e7e7e7 !important;
  font-size: 1rem;
}

@media screen and (max-width: 991px) {
.disp{
  display: none;
}
.card{
  background-color: transparent !important;
  border: 0 !important;
}
.card .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
  height: 100%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
}

.card .social-link svg {
  text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
  transform: scale(1);
}
.card svg {
  height: 25px;
}


}
@media screen and (min-width: 992px) {

/*nav-link*/
.button {
  position: relative;
  overflow: hidden;
  height: 2.5rem;
  padding: 5px 0;
  border-radius: 1.5rem;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background-color: #344966;
  /*background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );*/
  transition: all 0.475s;
}

/* social media link*/
.card svg {
  height: 25px;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e7e7e7;
  border-radius: 12px !important;/* I added "!important" ke hone bota iherite yaregal meselegn*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  height: 30px;
  width: 180px;
}

.card::before, .card::after {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
}

.card::before {
  content: "";
  left: 0;
  justify-content: flex-end;
  background-color: #344966;
}

.card::after {
  content: "";
  right: 0;
  justify-content: flex-start;
  background-color: #344966;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card:hover span {
  opacity: 0;
  z-index: -3;
}

.card:hover::before {
  opacity: 0.5;
  transform: translateY(-100%);
}

.card:hover::after {
  opacity: 0.5;
  transform: translateY(100%);
}

.card span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  font-family: 'Fira Mono', monospace;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
}

.card .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
}

.card .social-link svg {
  text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
  transform: scale(1);
}

.card .social-link:hover {
  background-color: rgba(249, 244, 255, 0.774);
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
}

/*craousal*/
#lottie-container {
  width: 100vw; /* set the width of the container */
  height: 100%; /* set the height of the container */
  background-color: whitesmoke;
  /*background-image: url("b4.jpg");*/
}
#lottie-container2 {
  width: 100vw; /* set the width of the container */
  height: 100%; /* set the height of the container */
  background-color: whitesmoke;
}
#lottie-container3 {
  width: 100%; /* set the width of the container */
  height: 100%; /* set the height of the container */
  background-color: whitesmoke;
}

#lottie-container4 {
  width: 100%; /* set the width of the container */
  height: 100%; /* set the height of the container */
  background-color: whitesmoke;
}


.ct {
  color:#0B476C;
}



#ct {
  color:#0B476C;

}

/*craousal*/

/* for button2*/
.button2 {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #172A3A;
  background-size: 400%;
  color: #fff;
  border: none;
}

.button2:hover::before {
  transform: scaleX(1);
}

.button2-content {
  position: relative;
  z-index: 1;
}

.button2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(33, 107, 136) 10.8%,
    rgb(2, 123, 206) 94.3%
  );
  transition: all 0.475s;
}

/*button2*/

/*wellcome*/
/* #Welcome-bg{
  background-color: #FBFBFF;
} */

@keyframes anim {
  0%   {left:-100%;}
  100% {left:0px;}
}

.wellcome-anim{
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 1s ease;
 /*  opacity: 1;
  position: relative;
  animation-name: anim;
  animation-duration: 2.0s; */
}

.wellcome-anim.test{
  opacity: 1;
  transform: translateX(0);
}

.animated-text {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 1s ease;
}

.animated-text.visible {
  opacity: 1;
  transform: translateX(0);
}



/*cards*/
.parent {
  background-color:whitesmoke;
  /*display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* adjust the minimum width of each column as needed */
  /*grid-gap: 200px;*/ /* adjust the gap between sub-elements as needed */
  border-radius: 20px;
  margin: 30px;
  padding: 30px;
}
.card-container2 {
  width: 300px;
  height: 400px;
  /*position: relative;*/
  border-radius: 20px;
  margin: 0 auto;


}

.card-container2::before {
  content: "";
  /*z-index: -1;
  position: absolute;*/
  inset: 0;
  background: linear-gradient(-45deg, #508991 0%, #0B476C 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.card2 {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
}

.card2 .img-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #508991 0%, #0B476C 100% );
  transition: scale 0.6s, rotate 0.6s, filter 1s;
}

.card2 .img-content svg {
  width: 50px;
  height: 50px;
  fill: #212121;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card2 .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(50px);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card2 .content .heading {
  font-size: 32px;
  font-weight: 700;
}

.card2:hover .content {
  opacity: 1;
  transform: translateY(0);
}

.card2:hover .img-content {
  scale: 2.5;
  rotate: 30deg;
  filter: blur(7px);
}

.card2:hover .img-content svg {
  fill: transparent;
}
.ti {

  color: #e8e8e8;
  text-align: center;
}
.td {
  text-align: center;
  align-items: center;
}
/*
@media only screen and (max-width: 768px) {
  .parent {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* adjust the minimum width of each column as needed */
    /*grid-gap: 10px; /* adjust the gap between sub-elements as needed 
  }
}
*/

/*
@media only screen and (max-width: 480px) {
  .parent {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* adjust the minimum width of each column as needed */
   /* grid-gap: 5px; /* adjust the gap between sub-elements as needed 
  }
}

*/

/*cards*/




/*circular crousal*/

.circular-carousal {
  display: flex;
  justify-content: center;
 
  margin : 0 auto;
  
  perspective: 250px;
  perspective-origin: 50% 50%;
  
  .circular-carousal--image {
    
    border-radius: 20px;
    overflow : hidden;
    align-self: center;
    background: #e3e3e3;
    box-shadow : 1px 1px 5px 1px #000;
    transition: all 0.5s ease-in-out;
    flex-basis : auto;
    &.far-left {
      transform: rotateY(-35deg) scale(0.5,0.5);
      visibility: hidden;
      order : 1;
      flex-shrink:10;
    }
    &.left {
      transform: rotateY(-25deg) scale(0.7,0.7);
      order : 2;
    }
    &.center {
      order : 3;
    }
    &.right {
      transform: rotateY(25deg) scale(0.7,0.7);
      order : 4;
    }
    &.far-right {
      transform: rotateY(35deg) scale(0.5,0.5);
      visibility: hidden;
      order : 5;
      flex-shrink: 10;
    }
  }
}




/*circular crousal*/



/* team card*/

.cardContainer3 {
  width: 200px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition-duration: .5s;
  cursor: pointer;
}

.profileDiv {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 24, 24);
  transition-duration: .5s;
  color: rgb(155, 155, 155);
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.cardContainer3:hover .profileDiv {
  transform: translateX(-25%) translateY(-20%);
  transition-duration: .5s;
}

.infoDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  z-index: 1;
}

.nameDiv {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: aliceblue;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  gap: 2px;
}

.name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.role {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  color: rgb(48, 48, 48);
  margin-bottom: 5px;
}

.socialDiv {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(14, 14, 14);
  gap: 25px;
}

.infoDiv a {
  width: 50%;
}

.socials {
  width: 100%;
  fill: rgb(14, 14, 14);
}




/*team card*/

/* what we do */
.card10 {
  width: 100%;
  height: 350px;
  border-radius: 4px;
  background: #0B476C;
  display: flex;
  gap: 5px;
  padding: .4em;
}

.card10 a {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  background: #0B476C;
  border: 1px solid aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card10 a:hover {
  flex: 4;

}

.card10 a span:nth-child(1) {
  min-width: 18em;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .8s;
  text-transform: uppercase;
  color: white;
  letter-spacing: .1em;
 
}

.card10 a:hover span:nth-child(1){
  transform: rotate(0);
  
}

.card10 a:hover span:nth-child(2){
  min-width: 15em;
 
  transform: rotate(0);
  display: block !important;
  padding: .5em;
  text-align: center;
  color: white;
}



/*for the pop up form */
#hider
{
height: 50vh;
top: 0%;
/*
z- index must be lower than pop up box
*/
z-index: 99;

}


.contact-bg{
position: absolute; 
left: 0; 
right: 0; 
margin-top: 50px;
margin-left: auto;
margin-right: auto;
width: 30%;
background-color: #eee;
border-radius: 25px;



}

#popup_box  
{



z-index:100; 

}


/* you can choose any color you want. don't be afraid to experiment  */


.input, .butt {
  width: 100%;
  height: 40px;
  position: relative;
  padding: 10px;
  border: 0.1px solid #0e2e45;
}

.butt {
  background: #0e2e45;
  border: none;
}

.wrapper {
 /*  position: relative; */
  transform: skewY(-14deg);
}

.wrapper li, .butt {
  position: relative;
  list-style: none;
  width: 200px;
  z-index: var(--i);
  transition: 0.3s;
  color: white;
}

.wrapper li::before, .butt::before {
  position: absolute;
  content: '';
  background: #0e2e45;
  top: 0;
  left: -40px;
  width: 40px;
  height: 40px;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.3s;
}

.wrapper li::after, .butt::after {
  position: absolute;
  content: '';
  background: #0e2e45;
  width: 200px;
  height: 40px;
  top: -40px;
  left: 0;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.3s;
}

.wrapper li:nth-child(1)::after, .wrapper li:nth-child(1)::before {
  background-color: #076bb3;
}

.wrapper li:nth-child(2)::after, .wrapper li:nth-child(2)::before {
  background-color: #044675;
}

.wrapper li:nth-child(3)::after, .wrapper li:nth-child(3)::before {
  background-color: #022d4d;
}

li .input {
  outline: none;
  border: none;
  color: black;
}

li .input::placeholder {
  color: #fff;
}

li:nth-child(1) .input {
  background: #076bb3;
}

li:nth-child(2) .input {
  background: #044675;
}

li:nth-child(3) .input {
  background: #022d4d;
}


li:nth-child(1) .input:focus {
  outline: none;
  border: 3.5px solid #d8daf7;
}

li:nth-child(2) .input:focus {
  outline: none;
  border: 3.5px solid #c2c5f3;
}

li:nth-child(3) .input:focus {
  outline: none;
  border: 3.5px solid #989deb;
}

.wrapper li:hover, .butt:hover {
  transform: translateX(-20px);
}

.butt:hover, .butt:hover::before, .butt:hover::after {
  background: #022d4d;
}

.butt:active {
  transform: translateX(0px);
}







/*pop up*/



/*footer*/



* {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
.pg-footer {
  font-family: 'Roboto', sans-serif;
}


.footer {
    background-color: #004658;
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #fffff2;
}







.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #027b9a;
}

.footer-social-link.instagram {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.tictok {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.facebook {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: #027b9a;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}












@media (min-width: 760px) {
  .footer-content {
     
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}
